body{
	background-image: url(../images/background.png);
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
}
ol,ul {
	list-style:none;
}
.left{
	float: left;
}
.right{
	float: right;
}

/*----------------- style: Home -----------------*/
.main-header{
	background: rgba(0,0,0,0.6);
	box-shadow: 1px 3px 5px black;
	color: white; 
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	height: 44px;
	margin: 0 auto; 
	width: 608px;
}
.btn-home-toolbar{
	border-right: 1px solid white;
	cursor: pointer;
	height: 31px;
	margin-top: 3px;
	padding-top: 7px;
	text-align: center;
	width: 200px;
	color: white;
}
.btn-nosotros-toolbar{
	border-right: 1px solid white;
	color: white;
	cursor: pointer;
	height: 31px;
	margin-top: 3px;
	padding-top: 7px;
	text-align: center;
	width: 200px;	
}
.btn-contactenos-toolbar{
	cursor: pointer;
	height: 31px;
	margin-top: 3px;
	padding-top: 7px;
	text-align: center;
	width: 200px;	
}
.section-content{
	height: 550px;
	margin-top: 25px;
	width: 100%;
}
.arrow-left{
	background: #b2020f;
	color: white;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	height: 40px;
	margin-left: 8px;
	margin-top: 15%;
	text-align: center;
	width: 38px;
}
.arrow-right{
	background: #b2020f;
	color: white;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	height: 40px;
	margin-right: 8px;
	margin-top: 15%;
	text-align: center;
	width: 38px;
}
.main-content{
	margin-left: 110px;
	margin-top: 100px;
	width: 950px;
}
.ctn-info-home{
	float: left;
	height: 227px;
	margin-left: 40px;
	width: 322px;
}
.title-home{
	color: #4d4d4d;
	font-size: 36px;
	font-family: 'Lato', sans-serif;
	line-height: 35px;
	text-align: center;
	width: 322px;
}
.img-van-home{
	background: url(../images/van-home.png) no-repeat;
	height: 258px;
	margin-right: 25px;
	width: 392px;
}
.ctn-txt-home{
	background: #4d4d4d;
	border-radius: 10px;
	color: white; 
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	height: 149px;
	margin-top: 25px;
	width: 321px;
}
.title-contacto{
	font-family: 'Lato', sans-serif;
	font-size: 51px;
	font-weight: bold;
 	letter-spacing: -2px;
 	margin-bottom: -14px;
}
.ctn-contacto{
	background: black;
	box-shadow: 0px -3px 16px black;
	height: 200px;
	width: 100%;
}
.ctn-contacto-form{
	color: white;
	height: 115px;
	font-family: 'Lato', sans-serif;
	margin-left: 20%;
  	margin-top: 40px;
	width: 480px;
}
.ctn-contacto-numbers{
	background-image: url(../images/tel-contacto.png);
	background-repeat: no-repeat;
	background-position: 40px 10px;
	border-left: 1px solid white;
	height: 115px;
	margin-top: 40px;
	width: 260px;
}
.list-home{
	background: url(../images/bullet-car.png) no-repeat;
	height: 40px;
	margin-left: 19px;
	margin-top: 15px;
  	padding-left: 25px;
  	width: 250px;
}
.list-home2{
	background: url(../images/bullet-car.png) no-repeat;
	height: 30px;
	margin-left: 19px;
	margin-top: 12px;
  	padding-left: 25px;
  	width: 250px;
}
.creditos{
	background: #4d4d4d;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	height: 20px;
	padding-top: 3px;
	text-align: center;
	width: 100%;
}

/*--------------------- STYLE CONTACTO ----------------*/
.input-nombre{
	border-radius: 6px; 
	margin-left: 15px;
	margin-bottom: 18px;
}
.input-correo{
	border-radius: 6px; 
	margin-left: 22px;
	margin-bottom: 18px;
}
.input-telefono{
	border-radius: 6px; 
	margin-left: 10px;
}
.input-asunto{
	border-radius: 6px; 
}
.ctn-input-asunto{
	border-radius: 6px; 
	margin-left: 260px;
	margin-top: -118px;
}
.btn-enviar{
	background: #b2020f;
	border: none;
	color: white;
	float: right;
	margin-right: 49px;
	margin-top: 6px;
}

/*---------------- style Nosotros-----------------*/
.arrow-right-nosotros{
	  background: #b2020f;
	  color: white;
	  font-size: 30px;
	  font-family: 'Lato', sans-serif;
	  height: 40px;
	  text-align: center;
	  width: 38px;
	  position: absolute;
	  right: 13px;
	  top: 257px;
}
.ctn-nosotros-info{
	height: 850px;
	margin-top: 25px;
	width: 100%;
}
.ctn-text-nosotros{
	margin: 0 auto; 
	margin-top: 30px;
	height: 200px;
	width: 950px;
}
.title-nosotros{
	color: #4d4d4d;
	font-size: 40px;
  	font-weight: bold;
}
.info-nosotros{
	  background: #4d4d4d;
	  border-radius: 8px;
	  color: white;
	  font-size: 13px;
	  height: 107px;
	  margin: 0 auto;
	  padding: 25px;
	  width: 898px;
}
.list-home-nosotros{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	height: 40px;
	margin-left: 99px;
	margin-top: -85px;
	padding-left: 25px;
	width: 390px;
}
.list-home-nosotros2{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	height: 40px;
	margin-left: 99px;
	margin-top: -58px;
	padding-left: 25px;
	width: 390px;
}
.ctn-ofrecemos{
	margin-top: 20px;
	height: 230px;
	width: 400px;
}
.ctn-ofrecemos-info{
	background: #4d4d4d;
	border-radius: 8px;
	color: white;
	font-size: 14px;
	padding: 20px;
	height: 150px;
  	width: 360px;
}
.ctn-caracteristicas{
	height: 230px;
	margin-left: 50px;
	margin-top: 20px;
	width: 400px;
}
.list-home-ofrecemos{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	padding-left: 25px;
	height: 40px;
	  margin-left: 69px;
  margin-top: -135px;
	width: 390px;
}
.list-home-ofrecemos2{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	padding-left: 25px;
	height: 40px;
	  margin-left: 69px;
  margin-top: -114px;
	width: 390px;
}
.list-home-ofrecemos3{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	padding-left: 25px;
	height: 40px;
	  margin-left: 69px;
  margin-top: -88px;
  width: 390px;
}
.list-home-ofrecemos4{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	padding-left: 25px;
	height: 40px;
	  margin-left: 69px;
  margin-top: -60px;
  width: 390px;
}
.list-home-caracteristicas{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	padding-left: 25px;
	height: 30px;
	  margin-left: 20px;
  margin-top: -5px;
  width: 390px;
}
.list-home-caracteristicas2{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	padding-left: 25px;
	height: 30px;
	  margin-left: 20px;
  margin-top: 0px;
  width: 390px;
}
.ctn-galeria{
	margin: 0 auto; 
	margin-top: 110px;
	height: 200px;
	width: 950px;
}
.title-galeria{
	color: #4d4d4d;
	font-size: 40px;
}
.filete-galeria{
	border-left: 2px solid #4d4d4d;
	border-right: 2px solid #4d4d4d;
	border-top: 2px solid #4d4d4d;
	height: 20px;
	width: 950px;
}




/*------------------------- Galeria ------------------------*/

.lb-album{
	width: 900px;
	margin: 0 auto;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
}
.lb-album li{
	float: left;
	margin: 5px;
	position: relative;
}
.lb-album li > a,
.lb-album li > a img{
	display: block;
}
.lb-album li > a{
	width: 94px;
	height: 64px;
	position: relative;
	padding: 5px;
	background: #B2020F;
	-webkit-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	-moz-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.lb-album li > a span{
	position: absolute;
	width: 150px;
	height: 150px;
	top: 10px;
	left: 10px;
	text-align: center;
	line-height: 150px;
	color: rgba(27,54,81,0.8);
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	font-size: 24px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background: rgb(241,210,194);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(241,210,194,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,rgba(241,210,194,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background: rgb(241,210,194);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(241,210,194,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,rgba(241,210,194,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(241,210,194,1) 100%);
}
.lb-overlay > div{
	position: relative;
	color: rgba(27,54,81,0.8);
	width: 550px;
	height: 80px;
	margin: 40px auto 0px auto;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
}
.lb-overlay div h3,
.lb-overlay div p{
	padding: 0px 20px;
	width: 200px;
	height: 60px;
}
.lb-overlay div h3{
	font-size: 36px;
	float: left;
	text-align: right;
	border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span,
.lb-overlay div p{
	font-size: 16px;
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-style: italic;
}
.lb-overlay div h3 span{
	display: block;
	line-height: 6px;
}
.lb-overlay div p{
	font-size: 14px;
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlay a.lb-close{
	background: rgba(27,54,81,0.8);
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 43px;
	left: 50%;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
	width: 50px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.lb-overlay img{
	/* height: 100%; For Opera max-height does not seem to work */
	max-height: 100%;
	position: relative;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-ms-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}
.lb-prev, .lb-next{
	text-indent: -9000px;
	position: absolute;
	top: -32px;
	width: 24px;
	height: 25px;
	left: 50%;
	opacity: 0.8;
	filter: alpha(opacity=80); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; /*IE8*/
}
.lb-prev:hover, .lb-next:hover{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-prev{
	margin-left: -30px;
	background: transparent url(../images/arrows.png) no-repeat top left;
}
.lb-next{
	margin-left: 6px;
	background: transparent url(../images/arrows.png) no-repeat top right;
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target img,
.lb-overlay:target a.lb-close{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
/* 
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
	http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
x:-o-prefocus, .lb-overlay img {
    height: 100%;
}
