body{
	background-image: url(../images/background.png);
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
}
.left{
	float: left;
}
.right{
	float: right;
}

/*----------------- style: Home -----------------*/
.main-header{
	background: rgba(0,0,0,0.6);
	box-shadow: 1px 3px 5px black;
	color: white; 
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	height: 44px;
	margin: 0 auto; 
	width: 608px;
}
.btn-home-toolbar{
	border-right: 1px solid white;
	cursor: pointer;
	height: 31px;
	margin-top: 3px;
	padding-top: 7px;
	text-align: center;
	width: 200px;
	color: white;
}
.btn-nosotros-toolbar{
	border-right: 1px solid white;
	color: white;
	cursor: pointer;
	height: 31px;
	margin-top: 3px;
	padding-top: 7px;
	text-align: center;
	width: 200px;	
}
.btn-contactenos-toolbar{
	cursor: pointer;
	height: 31px;
	margin-top: 3px;
	padding-top: 7px;
	text-align: center;
	width: 200px;	
}
.section-content{
	height: 550px;
	margin-top: 25px;
	width: 100%;
}
.arrow-left{
	background: #b2020f;
	color: white;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	height: 40px;
	margin-left: 8px;
	margin-top: 15%;
	text-align: center;
	width: 38px;
}
.arrow-right{
	background: #b2020f;
	color: white;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	height: 40px;
	margin-right: 8px;
	margin-top: 15%;
	text-align: center;
	width: 38px;
}
.main-content{
	margin-left: 110px;
	margin-top: 100px;
	width: 950px;
}
.ctn-info-home{
	float: left;
	height: 227px;
	margin-left: 40px;
	width: 322px;
}
.title-home{
	color: #4d4d4d;
	font-size: 36px;
	font-family: 'Lato', sans-serif;
	line-height: 35px;
	text-align: center;
	width: 322px;
}
.img-van-home{
	background: url(../images/van-home.png) no-repeat;
	height: 258px;
	margin-right: 25px;
	width: 392px;
}
.ctn-txt-home{
	background: #4d4d4d;
	border-radius: 10px;
	color: white; 
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	height: 149px;
	margin-top: 25px;
	width: 321px;
}
.title-contacto{
	font-family: 'Lato', sans-serif;
	font-size: 51px;
	font-weight: bold;
 	letter-spacing: -2px;
 	margin-bottom: -14px;
}
.ctn-contacto{
	background: black;
	box-shadow: 0px -3px 16px black;
	height: 200px;
	width: 100%;
}
.ctn-contacto-form{
	color: white;
	height: 115px;
	font-family: 'Lato', sans-serif;
	margin-left: 20%;
  	margin-top: 40px;
	width: 480px;
}
.ctn-contacto-numbers{
	background-image: url(../images/tel-contacto.png);
	background-repeat: no-repeat;
	background-position: 40px 10px;
	border-left: 1px solid white;
	height: 115px;
	margin-top: 40px;
	width: 260px;
}
.list-home{
	background: url(../images/bullet-car.png) no-repeat;
	height: 40px;
	margin-left: 19px;
	margin-top: 15px;
  	padding-left: 25px;
  	width: 250px;
}
.list-home2{
	background: url(../images/bullet-car.png) no-repeat;
	height: 30px;
	margin-left: 19px;
	margin-top: 12px;
  	padding-left: 25px;
  	width: 250px;
}
.creditos{
	background: #4d4d4d;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	height: 20px;
	padding-top: 3px;
	text-align: center;
	width: 100%;
}

/*--------------------- STYLE CONTACTO ----------------*/
.input-nombre{
	border-radius: 6px; 
	margin-left: 15px;
	margin-bottom: 18px;
}
.input-correo{
	border-radius: 6px; 
	margin-left: 22px;
	margin-bottom: 18px;
}
.input-telefono{
	border-radius: 6px; 
	margin-left: 10px;
}
.input-asunto{
	border-radius: 6px; 
}
.ctn-input-asunto{
	border-radius: 6px; 
	margin-left: 260px;
	margin-top: -118px;
}
.btn-enviar{
	background: #b2020f;
	border: none;
	color: white;
	float: right;
	margin-right: 49px;
	margin-top: 6px;
}

/*---------------- style Nosotros-----------------*/
.ctn-nosotros-info{
	height: 700px;
	margin-top: 25px;
	width: 100%;
}
.ctn-text-nosotros{
	margin: 0 auto; 
	margin-top: 30px;
	height: 200px;
	width: 950px;
}
.title-nosotros{
	color: #4d4d4d;
	font-size: 40px;
  	font-weight: bold;
}
.info-nosotros{
	  background: #4d4d4d;
	  border-radius: 8px;
	  color: white;
	  font-size: 13px;
	  height: 107px;
	  margin: 0 auto;
	  padding: 25px;
	  width: 898px;
}
.list-home-nosotros{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	height: 40px;
	margin-left: 99px;
	margin-top: -85px;
	padding-left: 25px;
	width: 390px;
}
.list-home-nosotros2{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	height: 40px;
	margin-left: 99px;
	margin-top: -58px;
	padding-left: 25px;
	width: 390px;
}
.ctn-ofrecemos{
	margin-top: 20px;
	height: 230px;
	width: 400px;
}
.ctn-ofrecemos-info{
	background: #4d4d4d;
	border-radius: 8px;
	color: white;
	font-size: 14px;
	padding: 20px;
	height: 150px;
  	width: 360px;
}
.ctn-caracteristicas{
	height: 230px;
	margin-left: 50px;
	margin-top: 20px;
	width: 400px;
}
.list-home-ofrecemos{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	padding-left: 25px;
	height: 40px;
	  margin-left: 69px;
  margin-top: -135px;
	width: 390px;
}
.list-home-ofrecemos2{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	padding-left: 25px;
	height: 40px;
	  margin-left: 69px;
  margin-top: -114px;
	width: 390px;
}
.list-home-ofrecemos3{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	padding-left: 25px;
	height: 40px;
	  margin-left: 69px;
  margin-top: -88px;
  width: 390px;
}
.list-home-ofrecemos4{
	background: url(../images/bullet-car.png) no-repeat;
	color: white;
	font-size: 14px;
	padding-left: 25px;
	height: 40px;
	  margin-left: 69px;
  margin-top: -60px;
  width: 390px;
}



